

#contacts {
    margin: 0 auto;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
    overflow: hidden;
    
    & .contacts-description {
        display: inline-block;
        width: 30%;
        margin: 3rem 0;
        padding-left: 5rem;

        & > h3 {
            padding-top: 3rem;
            color: #D94B6B;
            text-shadow: 1px 1px 2px rgba(0,0,0, 1);
            text-align: left;
        }

        & p {
            display: block;
            color: #D94B6B;
            text-shadow: 1px 1px 2px rgba(0,0,0, 1);
            margin: 1rem 0;
            padding-bottom: 0;
            text-align: left;
            font-size: 22px;
            opacity: 0;
            animation: navitemin 4s 1 ease forwards;
            transform: scale(0.1) translate(0, 3rem) rotate(360deg);
            
            & span { font-weight: bold; }

            & .fa-user-tie { color: lightseagreen; }
            & .fa-user { color: lightgreen; }
            & .fa-phone-square { color: purple; }
            & .fa-envelope { color: gold; }
            & .fa-facebook { color: #3B579D; }
            & .fa-github-square { color: #FFF; }
            & .fa-gitlab { color: #FC6D26; }
            & .fa-linkedin { color: #0B2B5C; }
            & .fa-skype { color: #00AFF0; }
        }

        @for $i from 1 through 10 {
            & p:nth-child(#{$i}) { animation-delay: $i * 0.20s; }
        }
    }
}

@media screen and (max-width: 800px) {
    #contacts {
        & .contacts-description {
            width: 40%;
            padding-left: 0;
            & p { font-size: 20px; }
        }
    }
}

@media screen and (max-width: 600px) {
    #contacts {
        & .contacts-description {
            width: 55%;
            padding-left: 0;
            & p { font-size: 18px; }
        }
    }
}

@media screen and (max-width: 300px) {
    #contacts {
        & .contacts-description {
            width: 100%;
            padding-left: 1rem;
            & p { font-size: 16px; }
        }
    }
}