@keyframes navitemin {
    from {
    }

    to {
        opacity: 1;
        transform: scale(1) translate(0,0);
    }
}

@keyframes shake {
    0% {
      transform: skewY(6deg);
    }
    100% {
      transform: skewY(-6deg);
    }
}
  

.navigation.main {
    background: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a > img {
        margin: 0 2rem;
        height: 4rem;
        animation: shake 2s infinite;
        animation-direction: alternate;
    }

    & > ul {
        margin-right: 4rem;
        display: inline-block;
        transition: opacity 0.2s ease-out, transform 0.2s ease-in;
        transform: translateX(2rem);


        li {
            display: inline-block;
            padding: 1.5rem 0.5rem 0 0.5rem;
            opacity: 0;
            animation: navitemin 0.5s ease forwards;
            transform: scale(0.1) translateX(0, 3rem);
        }

        a {
            font-weight: bold;
            color: #D94B6B;
            display: block;
            padding: 0.5rem 1rem;
            font-size: 18px;
            text-decoration: none;
            border-radius: 0.4rem;
            border: solid transparent;
            border-width: 3px 0;
            text-shadow: 1px 1px 2px rgba(0,0,0, 1);
        }

        a:hover {
            background: none;
            background-clip: unset;
            -webkit-text-fill-color: unset;
            color: #9766C2;
            padding-top: 0.3rem;
            font-weight: bold;
            border-color: #9766C2;
            text-shadow: 2px 2px 4px rgba(255,255,255, 1);
        }
    }

    & #bars,
    & #times { display: none; }

    @for $i from 1 through 6 {
        & li:nth-child(#{$i}) { animation-delay: $i * 0.15s; }
    }
}

@media screen and (max-width: 1200px) {
    .navigation.main {
        & ul > li > a { padding: 0.5rem; }
    }
}

@media screen and (max-width: 1024px) {
    .navigation.main {
        & ul { 
            padding-left: 0; 
        }
    }
}

@media screen and (max-width: 840px) {
    .navigation.main {
        display: inline-block;
        text-align: center;
    
        & #castle-logo { 
            display: block; 
            margin-top: 1rem;
        }

        & ul {
            position: relative;
            left: -2rem;
            margin-right: 0;
            padding-top: 1.5rem;
            & li { padding: 0; }
        }
    }
}
    
@media screen and (max-width: 500px) {
        .navigation.main {
            display: inline-block;
            text-align: center;
    
            & #castle-logo { display: block; }
    
            & ul {
                display: inline-block;
                margin-right: 0;
                margin-left: 0;
                padding-left: 0;
                padding-right: 0;
                width: 48%;
                position: relative;
                left: -2rem;
            }
    
            & ul li {
                width: 100%;
                display: block;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
    
                & a { font-size: 18px; }
            }
    
            & #toggle,
            & #main-nav-toggle { display: none; }
        }
}
    


