

#services {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    padding-top: 3rem;
    text-align: center;

    & .services-description {
        display: flex;
        justify-content: space-around;
        padding: 2rem;

        & article {
            width: 15%;
            border: 2px solid grey;
            padding: 2rem;
            background: rgba(255,255,255, 0.3);
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background 0.4s ease-in, color 0.3s ease-in;
            animation: grow 0.3s ease-out;

            &:hover {
                background: rgba(217, 75, 107, 0.5);
                p {
                    color: white;
                }
                transform: scale(0.9);
                transition-duration: 0.3s;
                animation: small 0.3s ease-in;
                animation-fill-mode: both;
                animation-duration: 0.3s;
            }

            & i {
                
                width: 5rem;
                border-radius: 50%;
                background: white;
                font-size: 35px;
            }

            & .fa-check {
                color: lightseagreen;
                padding: 1.5rem 2.5rem 1.5rem 1.5rem;
            }

            & .fa-cogs {
                color: darkgoldenrod;
                padding: 1.5rem 2.5rem 1.5rem 1.5rem;
            }

            & .fa-lightbulb {
                color: lightblue;
                padding: 1.5rem 2rem 1.5rem 2rem;
            }

            & .fa-question {
                color: lightcoral;
                padding: 1.5rem 2rem 1.5rem 2rem;
            }

            & p {
                margin-top: 1.5rem;
                color: black;
                font-weight: bold;
            }
        }
    }
}