

#services {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
    padding: 3rem 0 6rem 0;
    text-align: center;
    overflow: hidden;

    & > h3 {
        padding-top: 3rem;
        color: #D94B6B;
        text-shadow: 1px 1px 2px rgba(0,0,0, 1);
    }

    & .services-description {
        display: flex;
        justify-content: space-evenly;
        margin-top: 5rem;

        & article {
            width: 15%;
            border: 2px solid grey;
            padding: 2rem;

            background: rgba(255,255,255, 0.3);
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background 0.4s ease-in, color 0.3s ease-in;
            animation: grow 0.3s ease-out;

            &:hover {
                background: rgba(217, 75, 107, 0.5);
                p {
                    color: white;
                }
                transform: scale(0.9);
                transition-duration: 0.3s;
                animation: small 0.3s ease-in;
                animation-fill-mode: both;
                animation-duration: 0.3s;
            }

            & i {
                width: 70%;
                border-radius: 50%;
                background: white;
                font-size: 35px;
            }

            & .fa-check {
                color: lightseagreen;
                padding: 4rem 0.5rem;
            }

            & .fa-cogs {
                color: darkgoldenrod;
                padding: 4rem 0.5rem;
            }

            & .fa-lightbulb {
                color: lightblue;
                padding: 4rem 0.5rem;
            }

            & .fa-question {
                color: lightcoral;
                padding: 4rem 0.5rem;
            }

            & p {
                margin-top: 1.5rem;
                color: black;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #services {
        & services-description {
            & article { 
                width: 11%; 
                padding: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    #services {
        & .services-description {
            flex-wrap: wrap;

            & article { 
                width: 30%;
                margin-top: 2rem;

                & .fa-check {
                    color: lightseagreen;
                    padding: 4rem 0.5rem;
                }
    
                & .fa-cogs {
                    color: darkgoldenrod;
                    padding: 4rem 0.5rem;
                }
    
                & .fa-lightbulb {
                    color: lightblue;
                    padding: 4rem 0.5rem;
                }
    
                & .fa-question {
                    color: lightcoral;
                    padding: 4rem 0.5rem;
                }

                & p { font-size: 18px; }

            }
        }
    }
}

@media screen and (max-width: 600px) {
    #services {
        & .services-description {
            flex-wrap: wrap;

            & article { 
                width: 55%;
                margin-top: 2rem;

                & .fa-check {
                    color: lightseagreen;
                    padding: 6rem 0.5rem;
                }
    
                & .fa-cogs {
                    color: darkgoldenrod;
                    padding: 6rem 0.5rem;
                }
    
                & .fa-lightbulb {
                    color: lightblue;
                    padding: 6rem 0.5rem;
                }
    
                & .fa-question {
                    color: lightcoral;
                    padding: 6rem 0.5rem;
                }

                & p { font-size: 18px; }

            }
        }
    }
}