#services {
    margin-top: -3rem;
    padding-top: 3rem;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-align: center;

    & h3 {
        background: -webkit-linear-gradient(#D94B6B, #000);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & .services-description {
        display: flex;
        justify-content: space-around;
        padding: 2rem;

        & article {
            width: 20%;
            border: 2px solid grey;
            padding: 2rem;
            background: rgba(255,255,255, 0.3);
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background 0.4s ease-in, color 0.3s ease-in;

            &:hover {
                background: rgba(0,0,0, 0.3);
                p {
                    color: white;
                }
            }

            & i {
                
                width: 5rem;
                border-radius: 50%;
                background: white;
                font-size: 35px;
            }

            & .fa-check {
                color: lightseagreen;
                padding: 1.5rem 2.5rem 1.5rem 1.5rem;
            }

            & .fa-cogs {
                color: darkgoldenrod;
                padding: 1.5rem 2.5rem 1.5rem 1.5rem;
            }

            & .fa-lightbulb {
                color: lightblue;
                padding: 1.5rem 2rem 1.5rem 2rem;
            }

            & .fa-question {
                color: lightcoral;
                padding: 1.5rem 2rem 1.5rem 2rem;
            }

            & p {
                margin-top: 1.5rem;
                color: black;
                font-weight: bold;
            }
        }
    }
}