

#signin {
    @mixin signin-form {
        font-family: 'Lato', serif;
        display: inline-block;
        width: 25%;
        height: 60vh;
        border: 2px solid black;
        margin-bottom: 4rem;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
        animation: upperform 3s ease-out;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
    & #castle {
        margin-top: 3rem;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(217,75,107,0.6)), 
        url('../assets/neuschwanstein.jpg'), no-repeat, center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        @include signin-form;

        & h3 { 
            padding-bottom: 20rem; 
            margin-top: 0;
            padding-top: 3rem;
            color: #D94B6B;
            text-shadow: 1px 1px 2px rgba(0,0,0, 1);
        }
    }

    & #signin-form {
        margin-top: 3rem;
        background: lightgrey;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        @include signin-form;

        & .times {
            float: right;
            padding: 0.5rem;
            color: rgb(217,75,107);
        }

        & form {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & div { 
                    color: grey;
                    border-bottom: 1px solid grey;
                    margin-bottom: 20%;
                    margin-top: 2rem;
                    font-style: italic;
                }

                & p {
                    & label {
                        display: block;
                        text-align: left;
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-style: normal;
                        color: grey;
                        padding-left: 3rem; 
                    }

                    & span {
                        text-align: center;
                        & i {
                            color: rgb(217,75,107);
                            padding: 0 1rem;
                        }

                        & input {
                            background: lightgray !important;
                            outline: none;
                            border: none;
                            font-weight: 300;
                            font-style: normal;
                            border-bottom: 1px solid grey;
                            padding: 0.1rem 0;
                            color: grey; 

                            //focus placeholder for Chrome
                            &:focus,
                            &:focus::-webkit-input-placeholder, {
                                border-color: rgb(217,75,107);
                                color: rgb(217,75,107);
                            }

                            //focus placeholder for FireFox 19+
                            &:focus,
                            &:focus::-moz-placeholder, {
                                border-color: rgb(217,75,107);
                                color: rgb(217,75,107);
                            }
                        
                            //focus placeholder for FireFox 18-
                            &:focus,
                            &:focus:-moz-placeholder, {
                                border-color: rgb(217,75,107);
                                color: rgb(217,75,107);
                            }

                            //focus placeholder for Internet Explorer
                            &:focus,
                            &:focus:-ms-input-placeholder {
                                border-color: rgb(217,75,107);
                                color: rgb(217,75,107);
                            }
                        }
                    }
                }

                & span {
                    margin-top: 5rem;

                    & #submit {
                        border: none;
                        margin: 0 3rem 3rem 3rem;
                        background: rgb(217,75,107);
                        color: white;
                        padding: 0.5rem 2rem;
                        cursor: pointer;
                        border-radius: 1rem;
                        font-weight: bold;
                        font-size: 16px;
                        &:hover {
                            background: white;
                            color: rgb(217,75,107);
                        }
                        &:active {
                            background: white;
                            color: black;
                        }
                    }

                    & .create-account {
                        font-size: 16px;
                        color: #9766C2;
                        &:hover { color: rgb(217,75,107); }
                    }
                }
            }
    }
}

@media screen and (max-width: 1740px) {
    #signin {
        & #castle,
        & #signin-form{
            width: 30%;

            & form {
                & #signin-buttons > #submit {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    #signin {
        & #castle,
        & #signin-form{
            width: 35%;

            & form {
                & #signin-buttons > #submit {
                    margin: 0.9rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #signin {
        & #castle,
        & #signin-form{
            & form {
                & #signin-buttons > #submit {
                    margin: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    #signin {
        & #signin-form{
            & form {
                & #signin-buttons > #submit {
                    margin: 1.3rem 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 880px) {
    #signin {
        & #signin-form{
            & form {
                & p {
                    & span {
                        & i { right: 7rem; top: -1rem }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #signin {
        & #castle,
        & #signin-form {
           width: 45%;

           & form {
            & p {
                & span {
                    & i { right: 12.5rem; top: 0 }
                }
            }

            & #signin-buttons > #submit {
                margin: 0 1rem 2rem 1rem;
            }
        }
        }
    }
}

@media screen and (max-width: 600px) {
    #signin {
        display: block;
        & #castle,
        & #signin-form {
            display: block;
            width: 80%;
            margin: 0 auto;
        }

        & #castle {
            margin-top: 3rem;
            border-top-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            border-bottom-left-radius: unset;
        }

        & #signin-form {
            margin-bottom: 3rem;
            border-top-right-radius: unset;
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
    }
}

