$global-padding: 16rem;

.special-thanks {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.4));

    & #thanks-title {
        padding: 6rem 0;
        opacity: 0;
        animation: rotate-text 4s 1 forwards;
    }

    & .trainers {
        color: black;
        font-weight: bold;
        font-size: 22px;
        padding-bottom: 2rem;
        text-shadow: 2px 2px 4px rgba(0,0,0, 1);
        opacity: 0;
        animation: rotate-text 4s 1 forwards;
        animation-delay: 4s;
    }

    & .trainers:last-child {
        padding-bottom: $global-padding;
    }
}