

body {
    background: lightgrey;
    margin:0;
    padding: 0;
}

.site {
    text-align: center;
}

header,
main,
footer  {
    text-align: center;
    background: lightyellow;
}

li {
    list-style: none;
}
