<header class="site-header">
    <div class="site-branding">
        <p class="site-title">
            <a href="/">{{ site.title }}</a>
        </p>
        <p class="site-description">{{ site.description }}</p>
    </div>

    <nav class="navigation main">
        <ul>
            <li><a class="fas fa-newspaper" href="/">Blog</a></li>
            <li><a class="fas fa-user-secret" href="/about/">About</a></li>
            <li><a class="fas fa-envelope" href="/special-thanks/">Special Thanks</a></li>
            <li><a class="fas fa-lock" href="/login/">Login</a></li>
            <li><a class="fas fa-lock" href="/register/">Register</a></li>
            <li><a class="fas fa-lock" href="/gallery/">Gallery</a></li>
        </ul>
    </nav>
</header>