<header class="site-header">
    <div class="site-branding">
        <p class="site-title">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </p>
        <p class="site-description">{{ site.description }}</p>
    </div>

    <nav class="navigation main">
        <ul>
            <li><a class="fas fa-newspaper" href="{{ site.baseurl }}/">Blog</a></li>
            <li><a class="fas fa-user-secret" href="{{ site.baseurl }}/about/">About</a></li>
            <li><a class="fas fa-envelope" href="{{ site.baseurl }}/special-thanks/">Special Thanks</a></li>
            <li><a class="fas fa-lock" href="{{ site.baseurl }}/login/">Login</a></li>
            <li><a class="fas fa-lock" href="{{ site.baseurl }}/register/">Register</a></li>
            <li><a class="fas fa-lock" href="{{ site.baseurl }}/gallery/">Gallery</a></li>
        </ul>
    </nav>
</header>