<nav class="navigation main">
    <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/castle-logo-design.png">
    </a>
    
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/signin/">Sign In</a></li>
        <li><a href="{{ site.baseurl }}/signup/">Sign Up</a></li>
        <li><a href="{{ site.baseurl }}/vote/">Vote Castles</a></li>
        <li><a href="{{ site.baseurl }}/gallery/">Gallery</a></li>
    </ul>
</nav>