
.u-vision-left {
	cursor: pointer;
	font-size: 20px;
	display: inline;
	position: relative;
	float: left;
	left: 30px;
	top: 10px;
	z-index: 100;
	color: $third-color;

	@include for-phone-only {
		left: 15px;
		top: 30px;
	}
}

.u-vision-right {
	cursor: pointer;
	font-size: 20px;
	display: inline;
	position: relative;
	float: right;
	left: -30px;
	top: 10px;
	z-index: 100;
	color: $third-color;

	@include for-phone-only {
		left: -15px;
		top: 30px;
	}
}