<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/png" sizes="100x100" href="{{ site.baseurl }}/assets/castle-logo-design.png">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css">
</head>
<body class="{% if page.type %}{{page.type}} {% endif %}{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">
    <div class="site">
        {% include navigation.html %}

        {% include header.html %}

        <main class="site-content">
                {{ content }}
        </main>

        {% include footer.html %}
    </div>
</body>
</html>
